*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* BRAND */
    --brand-light:#F67841;
    --brand-mid:#F3541C;
    --brand-dark:#E43A12;

    /* TEXT */
    --text-primary:#292524;
    --text-secondary:#57534E;
    --text-terniary:#8F8881;
    --text-highlight:#E43A12;

    /* SURFACE */
    --surface-primary:#cdcdcd;
    --surface-secondary:#FEE7D6;
    --surface-disabled:#E7E5E4;

    /* STROKE  */
    --stroke-default:#D6D3D1;
    --stroke-highlight:#F3541C;

    /* FONT  */
    --font-family:"Poppins", sans-serif;
    --heading1:bold 40px/120% var(--font-family);
    --heading2:700 24px/125% var(--font-family);
    --heading3:400 16px/150% var(--font-family);
    --heading4:700 16px/125% var(--font-family);
}
body{
   overflow: hidden;
   font-family: var(--font-family);

}
h1 ,h2{
    color: var(--text-primary);
}