.forms-action{
    margin: 48px auto 4rem;
    display: flex;
    gap: 1rem;
    right: 0;
}
button{
    min-width: 120px;
    height: 48px;
    border-radius: .5rem;

    font: var(--heading3);
    
    padding: .75rem 24px;

    cursor: pointer;

   
    
}
.secondary-btn{
    border: 1px solid var(--stroke-highlight);
    background-color: #ffffff;
    margin-left: auto;
    
    
    color: var(--stroke-highlight);

    &:hover, &:focus-within{
        outline: 4px solid var(--surface-secondary);
    }
}
.primary-btn{
    border: 1px solid var(--stroke-highlight);
    background-color: var(--stroke-highlight);

    color: #ffffff;
    &:hover, &:focus-within{
        outline: 4px solid var(--surface-secondary);
    }

}
